@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* reset da página*/
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--color-bg);
}


/* criando variáveis padrão no projeto*/
:root {
  --color-bg: #e0f5e8;
  --color-bg-variant: #4bc3c7;
  --color-primary: #20a1b2;
  --color-primary-variant: rgb(132, 183, 211);
  --color-white: #fff;
  --color-light: #ffffff99;
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

.container {
  height: max-content;
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 5%;

 }

h2{
  margin-bottom: 1rem;
  margin-top: 1rem; 
  color: var(--color-primary);
  font-size: 2rem;
}

p{
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: var(--color-primary);
  text-align: justify;
  margin-top: 2rem;
  font-size: 1.5rem;
}

nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  opacity: 0.8;
  }

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.8);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}

footer {
  background: var(--color-bg-variant);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  
  
}



/*###################### Media Queries (desktop) #####################*/
@media screen and (min-width: 1025px) {
  .container {
    width: var(--container-width-lg);
  }
}

/*###################### Media Queries (Tablets) #####################*/
@media screen and (max-width: 1024px) {
  .container{
    width: var(--container-width-md); 
    gap: 5rem;
    border: solid 1px var(--color-primary);
  }

}
 

/*###################### Media Queries (Mobile) #####################*/
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 5%;
    padding: 2rem;
    
 }

  p:nth-last-child(-n + 1){
  margin-bottom: 13rem;
 }

    a footer{
      margin-top: 5rem;
    }



}