.about__container {
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

h2{
  margin-bottom: 1rem;
  margin-top: 1rem; 
  color: var(--color-white);
}

p{
  margin-bottom: 1rem;
  margin-top: 1rem;
  
}

#button{
  color: var(--color-white)
  
}


/*###################### Media Queries (desktop) #####################*/
@media screen and (min-width: 1025px) {
  .about__container {
    width: var(--container-width-lg);
  }
}

/*###################### Media Queries (Tablets) #####################*/
@media screen and (max-width: 1024px) {
  .about__container {
    width: var(--container-width-md);
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me{
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}

/*###################### Media Queries (Mobile) #####################*/
@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about__cards {
    grid-template-columns:1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }
}