header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
}

#header {
  background-image: url(../../assets/debora.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;/*faz a imagem ficar fixa*/
}

.header_container{
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.9;
	padding: 1rem;
  text-align: center;
  margin: auto;
  width: max-content;
}

.container_header {
  color:var(--color-primary);
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: -2rem;
  padding-top: 23rem;
}


/*############### REDES SOCIAIS #############*/ 
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 5rem;
  bottom: 0;
}

.header__socials::after {
  content: "";
  width: 2px;
  height: 2rem;
  background: var(--color-primary);
  
}

/* ############## SCROLL ############*/

.scroll__down {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

.wave{
  position: absolute;
  width: 100%;
  height: 9.5rem;
  bottom: 0;
  background: url(../../assets/wave.png);
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0%
  {
      background-position: 0;
  }

  100%
  {
      background-position: 1360px;
  }
}


/*###################### Media Queries (desktop) #####################*/
@media screen and (min-width: 1025px) {
  .container {
    width: var(--container-width-lg);
  }
}

/*###################### Media Queries (desktop) #####################*/
@media screen and (min-width: 1025px) {
  .container {
    width: var(--container-width-lg);
  }
}

/*###################### Media Queries (Tablets) #####################*/
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
  .container {
    width: var(--container-width-md);
  }

}

/*###################### Media Queries (Mobile) #####################*/
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header_container{
    width: 100%;
  }
  
  .header__socials, .scroll__down {
    display: none;
  }
}