header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
}

#header {
  background-image: url(../../assets/debora.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;/*faz a imagem ficar fixa*/
}

.header_container{
  background-color: var(--color-bg);
  opacity: 0.9;
	padding: 2rem;
  text-align: center;
  margin: auto;
  width: 100%;
}

.container_header {
  color:var(--color-primary);
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: -2rem;
  padding-top: 35rem;
  bottom: 10rem;
}

.wave{
  position: absolute;
  width: 100%;
  height: 9.7rem;
  bottom: 7rem;
  background: url(../../assets/wave.png);
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0%
  {
      background-position: 0;
  }

  100%
  {
      background-position: 1360px;
  }
}


/*###################### Media Queries (desktop) #####################*/
@media screen and (min-width: 1025px) {
  .container {
    width: var(--container-width-lg);
  }
}

/*###################### Media Queries (desktop) #####################*/
@media screen and (min-width: 1025px) {
  .container {
    width: var(--container-width-lg);
  }
}

/*###################### Media Queries (Tablets) #####################*/
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
  .container {
    width: var(--container-width-md);
  }

}

/*###################### Media Queries (Mobile) #####################*/
@media screen and (max-width: 600px) {
  
  .header_container{
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;

    
  }
  
  .container_header{
    bottom: 0;
  }

  .wave{
    bottom: 14rem;
  }
 
}