header {
  width: auto;
  height: 100vh;
  padding-top: 4rem;
  overflow: hidden;
  margin: auto;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  margin: auto;
}

/*############### REDES SOCIAIS #############*/ 
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header__socials::after {
  content: "";
  width: 2px;
  height: 2rem;
  background: var(--color-primary);
  
}

/* ############## FOTO HEADER ######### */ 
.me {
  width: 30rem;
  height: 40rem;
  position: relative;
  left: calc(50% - 15rem);
  margin-top: 1rem;
  background-position: center;
	background-attachment: fixed;/*faz a imagem ficar fixa*/
	position: relative;
}

/* ############## SCROLL ############*/

.scroll__down {
  position: absolute;
  right: -2rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/*###################### Media Queries (desktop) #####################*/
@media screen and (min-width: 1025px) {
  .container {
    width: var(--container-width-lg);
  }
}

/*###################### Media Queries (desktop) #####################*/
@media screen and (min-width: 1025px) {
  .container {
    width: var(--container-width-lg);
  }
}

/*###################### Media Queries (Tablets) #####################*/
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
  .container {
    width: var(--container-width-md);
  }

}

/*###################### Media Queries (Mobile) #####################*/
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  
  .header__socials, .scroll__down {
    display: none;
  }
}